
<div class="container">
  <div class="row">
    <div class="col-md-3">

      <!-- insert username -->
      <div class="form-group">
        <label for="inputUsername">Benutzername</label>
        <input #name type="text" class="form-control" [class.invalid]="errorMsg" id="inputUsername" placeholder="Benutzername" name="username" (input)="onUsernameChange(name.value)" required autofocus>
      </div>

      <!-- insert password -->
      <div class="form-group">
        <label for="inputPassword">Passwort</label>
        <input #pw type="password" class="form-control" [class.invalid]="errorMsg" id="inputPassword" placeholder="Passwort" name="password" (input)="onPasswordChange(pw.value)" required>
      </div>

      <!-- login -->
      <button type="submit" class="btn btn-outline-primary btn-block" (click)="onButtonClick()" [disabled]="!user.username || !user.password || isValidating">
        Anmelden
      </button>

    </div>
  </div>
</div>
