
<div class="container">
  <div class="row">
    <div class="col-md-3 login">
      <form>
        <!-- insert username -->
        <div class="form-group">
          <label for="inputUsername">Benutzername</label>
          <input #username type="text" class="form-control" id="inputUsername" placeholder="Benutzername" (keyup)="onUsernameChange(username.value)" name="username" autofocus>
        </div>

        <!-- insert password -->
        <div class="form-group">
          <label for="inputPassword">Passwort</label>
          <input #password type="password" class="form-control" id="inputPassword" placeholder="Passwort" (keyup)="onPasswordChange(password.value)" name="password">
        </div>
      </form>

      <!-- login -->
      <button type="button" class="btn btn-outline-primary btn-block" (click)="onButtonClick()" [disabled]="isLocked">
        Anmelden
      </button>

      <!-- error msg -->
      <div *ngIf="errorMsg" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Fehler!</strong> {{ errorMsg }}
      </div>

    </div>
  </div>
</div>
